{% extends 'base_template.html' %}

{% block body %}
<h1 class="mt-3">Listado de citas</h1>

<table class='table mt-3'>
   <thead>
      <tr>
         <th>Fecha creación</th>
         <th>Cliente</th>
         <th>Contacto</th>
         <th>Estado</th>
      </tr>
   </thead>

   <tbody>
      {% for appointment in appointments%}
      <tr>
         <td><a href="{% url 'appointments:detail' appointment.id %}">{{ appointment.created_at }}</a></td>
         <td>{{ appointment.client }}</td>
         <td>{{ appointment.contact_phone }}</td>
         <td>{{ appointment.status_value }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}